         .home{
            color: #706b6b;
    text-shadow: 2px 2px 5px #706b6b 
         }
         
         
         .Front{
            margin-top: 200px;
            text-align: center;
            color: rgb(7, 7, 7);
          margin-bottom:500px;  
        }
        .quote{
            font-family: 'Great Vibes', cursive;
            font-size: 40px;
            color: white;
            text-shadow: 2px 2px 5px black;
            margin-bottom: 3px;
        }
        .start-name{
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 30px;
            color: white;
            text-shadow: 2px 2px 5px black;
            margin-top: 0px;
            
        }
        
        body{
            background-image:url(./Pictures/background1.jpg);
            background-position: center;
            background-attachment:fixed;
            background-size: cover;
            margin: 0;
            padding: 0;
            height: auto;
        }